@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.gradient-text {
  background: linear-gradient(to right, green, cyan, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  background-size: 200% 100%;
  animation: moveGradient 20s linear infinite;
}


@keyframes rgbTextEffect {
  0% { color: #ff0000; } /* Red */
  33% { color: #00ff00; } /* Green */
  66% { color: #0000ff; } /* Blue */
  100% { color: #ff0000; } /* Red again */
}

.rgbEffect {
  animation: rgbTextEffect 10s infinite linear;
}

@keyframes rgbEffect {
  0% { background-color: #ff0000; } /* Red */
  33% { background-color: #00ff00; } /* Green */
  66% { background-color: #0000ff; } /* Blue */
  100% { background-color: #ff0000; } /* Red */
}

.rgb-hover {
  animation: rgbEffect 3s infinite;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}

.scrollbar-hide {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

.primary {
  @apply bg-zinc-900;
}

.buttonActive {
  @apply bg-red-700;
}
